{% extends 'base.html.twig' %}

{% block body %}

<h1>WELCOME To GYM</h1>
<div>
    <a href="{{path('clients')}}">Clients</a>
    <a href="{{path('clients')}}/2">Client with id</a>
    <a href="{{path('clients_create')}}">Create</a>
    <a href="{{ path('clients_update', {'id': 4}) }}">Update</a>
    <a href="{{ path('clients_delete', {'id': 5}) }}">Delete</a>
</div>
{% endblock %}